@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* rgba(0, 0, 0, 0.4); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins' , sans-serif;
  overflow: hidden;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(161, 100, 223);
  text-align: center;
}

.btn{
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
  margin: 1rem;
  padding: 1.5rem 3rem;
}

.btn:hover{
  opacity: 0.9;
}

